<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>

<h1>ユーザー一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate %>

    <% @users.each do |user| %>
      <div class="name-index"><%= user.name %></div>
      <div class="delete-index">
        <%= link_to "削除", user, method: :delete,
          data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
      </div>
      <div class="edit-back">
        <button type="button" class="btn btn-primary btn-lg edit-index"
          data-toggle="collapse" data-target="#example-<%= user.id %>" 
          aria-expand="false" aria-controls="example-<%= user.id %>"
        >編集</button>
      </div>
    <% end %>
    
    <%= will_paginate %>
  </div>
</div>